The comprehensive analysis provides insights into factors affecting Airbnb pricing,
ratings, and other key metrics across different cities, 
room types, and other listing characteristics.

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("C:/Users/davek/OneDrive/Desktop/SSDI/DATASETS/AIRBNB_1.csv")
df1.head()

,City,Price,Day,Room_Type,Shared_Room,Private_Room,Person_Capacity,Superhost,Multiple_Rooms,Business,Cleanliness_Rating,Guest_Satisfaction,Bedrooms,City_Center,Metro_Distance,Attraction_Index,Normalised_Attraction,Restraunt_Index,Normalised_Restraunt_Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2,False,1,0,10,93,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4,False,0,0,8,85,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2,False,0,1,9,87,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4,False,0,1,9,90,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2,True,0,0,10,98,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677

In [3]:
df1.dtypes
df1['Private_Room'] = df1['Private_Room'].astype(int)

In [4]:
df1.columns = df1.columns.str.strip()  # Remove leading and trailing spaces
float_columns = ['City_Center', 'Metro_Distance', 'Attraction_Index', 'Restraunt_Index','Normalised_Attraction','Normalised_Restraunt_Index']
df1[float_columns] = df1[float_columns].astype(int)

In [5]:
# List of float columns to convert
float_columns = ['City_Center', 'Metro_Distance', 'Attraction_Index', 'Restraunt_Index','Normalised_Attraction','Normalised_Restraunt_Index']

# Convert to integers (use round() if you prefer rounding instead of truncating)
df1[float_columns] = df1[float_columns].astype(int)

# Optional: check types after conversion
df1.columns = df1.columns.str.strip()

print(df1[float_columns].dtypes)

City_Center                   int32
Metro_Distance                int32
Attraction_Index              int32
Restraunt_Index               int32
Normalised_Attraction         int32
Normalised_Restraunt_Index    int32
dtype: object

In [6]:
df1.columns = df1.columns.str.strip()
df1.columns

Index(['City', 'Price', 'Day', 'Room_Type', 'Shared_Room', 'Private_Room',
       'Person_Capacity', 'Superhost', 'Multiple_Rooms', 'Business',
       'Cleanliness_Rating', 'Guest_Satisfaction', 'Bedrooms', 'City_Center',
       'Metro_Distance', 'Attraction_Index', 'Normalised_Attraction',
       'Restraunt_Index', 'Normalised_Restraunt_Index'],
      dtype='object')

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

# List of dependent variables to analyze separately
dependent_vars = ['Price', 'Business', 'Cleanliness_Rating', 'Guest_Satisfaction','City_Center', 'Metro_Distance', 'Attraction_Index', 'Restraunt_Index','Normalised_Attraction','Normalised_Restraunt_Index','Private_Room']
independent_vars = 'City + Day + Room_Type + Superhost+ Shared_Room+Person_Capacity'

# Run ANOVA for each dependent variableShared_Room+Private_Room+Person_Capacity
for dv in dependent_vars:
    formula = f'{dv} ~ {independent_vars}'
    model = ols(formula, data=df1).fit()
    anova_table = sm.stats.anova_lm(model, type=2)  # Type II ANOVA
    print(f"ANOVA results for {dv}:\n", anova_table, "\n")

ANOVA results for Price:
                       df        sum_sq       mean_sq            F    PR(>F)
City                 8.0  4.459781e+08  5.574726e+07   914.037914  0.000000
Day                  1.0  2.962764e+05  2.962764e+05     4.857778  0.027527
Room_Type            2.0  1.586287e+08  7.931433e+07  1300.445886  0.000000
Superhost            1.0  4.754575e+04  4.754575e+04     0.779565  0.377279
Shared_Room          1.0  2.402586e+04  2.402586e+04     0.393930  0.530244
Person_Capacity      1.0  1.082586e+08  1.082586e+08  1775.018420  0.000000
Residual         41700.0  2.543287e+09  6.099010e+04          NaN       NaN

ANOVA results for Business:
                       df       sum_sq    mean_sq           F        PR(>F)
City                 8.0   604.496374  75.562047  366.512747  0.000000e+00
Day                  1.0     0.608392   0.608392    2.951000  8.583188e-02
Room_Type            2.0    34.554863  17.277432   83.803962  4.757185e-37
Superhost            1.0    87.891936  87.891936  426.318719  3.050320e-94
Shared_Room          1.0     0.024437   0.024437    0.118530  7.306358e-01
Person_Capacity      1.0    51.694165  51.694165  250.741893  2.612431e-56
Residual         41700.0  8597.074372   0.206165         NaN           NaN

ANOVA results for Cleanliness_Rating:
                       df        sum_sq      mean_sq            F  \
City                 8.0    568.205242    71.025655    98.264908
Day                  1.0      0.177867     0.177867     0.246082
Room_Type            2.0     67.807559    33.903780    46.906316
Superhost            1.0   2195.346837  2195.346837  3037.290604
Shared_Room          1.0      0.031327     0.031327     0.043341
Person_Capacity      1.0      7.290719     7.290719    10.086804
Residual         41700.0  30140.666475     0.722798          NaN

                        PR(>F)
City             7.409665e-163
Day               6.198503e-01
Room_Type         4.484625e-21
Superhost         0.000000e+00
Shared_Room       8.350852e-01
Person_Capacity   1.494436e-03
Residual                   NaN

ANOVA results for Guest_Satisfaction:
                       df        sum_sq        mean_sq            F  \
City                 8.0  7.927203e+04    9909.003540   166.510598
Day                  1.0  3.375088e+01      33.750885     0.567149
Room_Type            2.0  4.814636e+03    2407.317762    40.452495
Superhost            1.0  1.991288e+05  199128.784032  3346.154108
Shared_Room          1.0  1.285339e+00       1.285339     0.021599
Person_Capacity      1.0  2.662773e+02     266.277301     4.474516
Residual         41700.0  2.481556e+06      59.509747          NaN

                        PR(>F)
City             8.297482e-278
Day               4.513984e-01
Room_Type         2.810122e-18
Superhost         0.000000e+00
Shared_Room       8.831601e-01
Person_Capacity   3.440986e-02
Residual                   NaN

ANOVA results for City_Center:
                       df         sum_sq      mean_sq            F  \
City                 8.0   29850.342882  3731.292860  1120.494549
Day                  1.0       2.244590     2.244590     0.674043
Room_Type            2.0     750.579574   375.289787   112.698246
Superhost            1.0       0.003480     0.003480     0.001045
Shared_Room          1.0       0.165545     0.165545     0.049713
Person_Capacity      1.0       2.969434     2.969434     0.891711
Residual         41700.0  138862.712332     3.330041          NaN

                       PR(>F)
City             0.000000e+00
Day              4.116503e-01
Room_Type        1.540194e-49
Superhost        9.742132e-01
Shared_Room      8.235650e-01
Person_Capacity  3.450196e-01
Residual                  NaN

ANOVA results for Metro_Distance:
                       df        sum_sq     mean_sq           F    PR(>F)
City                 8.0   1191.300024  148.912503  368.808413  0.000000
Day                  1.0      0.413120    0.413120    1.023166  0.311775
Room_Type            2.0      2.964877    1.482439    3.671524  0.025446
Superhost            1.0      2.296734    2.296734    5.688271  0.017083
Shared_Room          1.0      0.140711    0.140711    0.348496  0.554969
Person_Capacity      1.0      0.000016    0.000016    0.000039  0.995007
Residual         41700.0  16837.065407    0.403767         NaN       NaN

ANOVA results for Attraction_Index:
                       df        sum_sq       mean_sq            F  \
City                 8.0  7.552493e+08  9.440616e+07  2565.286664
Day                  1.0  7.910830e+03  7.910830e+03     0.214960
Room_Type            2.0  2.767964e+07  1.383982e+07   376.067747
Superhost            1.0  2.201667e+05  2.201667e+05     5.982561
Shared_Room          1.0  4.026960e+03  4.026960e+03     0.109424
Person_Capacity      1.0  5.206813e+05  5.206813e+05    14.148408
Residual         41700.0  1.534619e+09  3.680141e+04          NaN

                        PR(>F)
City              0.000000e+00
Day               6.429097e-01
Room_Type        1.353012e-162
Superhost         1.445211e-02
Shared_Room       7.408024e-01
Person_Capacity   1.691708e-04
Residual                   NaN

ANOVA results for Restraunt_Index:
                       df        sum_sq       mean_sq            F  \
City                 8.0  5.449946e+09  6.812432e+08  4948.158313
Day                  1.0  9.554283e+01  9.554283e+01     0.000694
Room_Type            2.0  1.143331e+08  5.716653e+07   415.224746
Superhost            1.0  1.374015e+05  1.374015e+05     0.998005
Shared_Room          1.0  5.840654e+03  5.840654e+03     0.042423
Person_Capacity      1.0  1.806884e+06  1.806884e+06    13.124168
Residual         41700.0  5.741094e+09  1.376761e+05          NaN

                        PR(>F)
City              0.000000e+00
Day               9.789837e-01
Room_Type        2.768957e-179
Superhost         3.177995e-01
Shared_Room       8.368163e-01
Person_Capacity   2.918568e-04
Residual                   NaN

ANOVA results for Normalised_Attraction:
                       df        sum_sq       mean_sq            F  \
City                 8.0  7.768199e+05  97102.486449  1906.579528
Day                  1.0  1.948748e+02    194.874805     3.826311
Room_Type            2.0  3.119641e+04  15598.202608   306.266244
Superhost            1.0  3.572440e+02    357.244032     7.014384
Shared_Room          1.0  1.404934e+01     14.049336     0.275855
Person_Capacity      1.0  4.069635e+02    406.963522     7.990612
Residual         41700.0  2.123790e+06     50.930205          NaN

                        PR(>F)
City              0.000000e+00
Day               5.046053e-02
Room_Type        9.071731e-133
Superhost         8.088788e-03
Shared_Room       5.994340e-01
Person_Capacity   4.704288e-03
Residual                   NaN

ANOVA results for Normalised_Restraunt_Index:
                       df        sum_sq        mean_sq            F  \
City                 8.0  5.376328e+06  672041.000940  3216.203268
Day                  1.0  2.699480e+04   26994.799319   129.189680
Room_Type            2.0  1.424638e+05   71231.907828   340.896306
Superhost            1.0  1.346621e+03    1346.620575     6.444555
Shared_Room          1.0  8.252513e+01      82.525133     0.394943
Person_Capacity      1.0  1.728539e+03    1728.538842     8.272311
Residual         41700.0  8.713414e+06     208.954766          NaN

                        PR(>F)
City              0.000000e+00
Day               6.821498e-30
Room_Type        1.405667e-147
Superhost         1.113289e-02
Shared_Room       5.297162e-01
Person_Capacity   4.027463e-03
Residual                   NaN

ANOVA results for Private_Room:
                       df        sum_sq       mean_sq             F    PR(>F)
City                 8.0  1.549799e+03  1.937248e+02  5.902498e+29  0.000000
Day                  1.0  9.872002e-02  9.872002e-02  3.007847e+26  0.000000
Room_Type            2.0  7.448753e+03  3.724377e+03  1.134760e+31  0.000000
Superhost            1.0  4.548969e-29  4.548969e-29  1.386001e-01  0.709679
Shared_Room          1.0  3.267352e-30  3.267352e-30  9.955119e-03  0.920523
Person_Capacity      1.0  9.195950e-29  9.195950e-29  2.801864e-01  0.596582
Residual         41700.0  1.368628e-23  3.282083e-28           NaN       NaN

In [8]:
# from sklearn.preprocessing import LabelEncoder

# # Create the encoder
# le = LabelEncoder()

# # Fit and transform the 'Day' column
# df1["Day_encoded"] = le.fit_transform(df1["Day"])
#   # Use the same encoder for consistency
# df1

In [9]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Price"], df1['Day'])
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
 group1  group2 meandiff p-adj  lower   upper  reject
-----------------------------------------------------
Weekday Weekend   6.1894 0.0237 0.8269 11.5519   True
-----------------------------------------------------

In [10]:
df2=df1[df1['Day']=='Weekday']
df3=df1[df1['Day']=='Weekend']

In [11]:
from scipy import stats
stats.ttest_ind(df2["Price"],df3["Price"],equal_var=False,alternative="greater")
#reject null. setosa > versicolor

TtestResult(statistic=-2.2629217372192243, pvalue=0.9881770745798281, df=40006.55168714004)

In [12]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order

tukey = pairwise_tukeyhsd(df1["Business"], df1['Room_Type'])
print(tukey)

        Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================================
     group1        group2    meandiff p-adj   lower   upper  reject
-------------------------------------------------------------------
Entire home/apt Private room  -0.0195 0.0003 -0.0312 -0.0078   True
Entire home/apt  Shared room   0.3069    0.0  0.2442  0.3696   True
   Private room  Shared room   0.3264    0.0  0.2633  0.3896   True
-------------------------------------------------------------------

In [13]:
df4=df1[df1['Room_Type']=='Private room']
df5=df1[df1['Room_Type']=='Shared room']

In [14]:
from scipy import stats
stats.ttest_ind(df4["Business"],df5["Business"],equal_var=False,alternative="greater")
#reject null. setosa > versicolor

TtestResult(statistic=-12.022404318130976, pvalue=1.0, df=329.7847191219171)

In [15]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Cleanliness_Rating"], df1['Shared_Room'])
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj  lower   upper  reject
---------------------------------------------------
 False   True  -0.5062   0.0 -0.6045 -0.4079   True
---------------------------------------------------

In [16]:
df6 = df1[df1['Shared_Room'] == False]
df7 = df1[df1['Shared_Room'] == True]
df6.head()

,City,Price,Day,Room_Type,Shared_Room,Private_Room,Person_Capacity,Superhost,Multiple_Rooms,Business,Cleanliness_Rating,Guest_Satisfaction,Bedrooms,City_Center,Metro_Distance,Attraction_Index,Normalised_Attraction,Restraunt_Index,Normalised_Restraunt_Index
0,Amsterdam,194.033698,Weekday,Private room,False,1,2,False,1,0,10,93,1,5,2,78,4,98,6
1,Amsterdam,344.245776,Weekday,Private room,False,1,4,False,0,0,8,85,1,0,0,631,33,837,58
2,Amsterdam,264.101422,Weekday,Private room,False,1,2,False,0,1,9,87,1,5,3,75,3,95,6
3,Amsterdam,433.529398,Weekday,Private room,False,1,4,False,0,1,9,90,2,0,0,493,26,875,60
4,Amsterdam,485.552926,Weekday,Private room,False,1,2,True,0,0,10,98,1,0,0,552,29,815,56

In [17]:
from scipy import stats
stats.ttest_ind(df6["Cleanliness_Rating"],df7["Cleanliness_Rating"],equal_var=False,alternative="greater")
#reject null. setosa > versicolor

TtestResult(statistic=7.276866987492516, pvalue=1.348493698938569e-12, df=317.47699733796645)

In [18]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Guest_Satisfaction"], df1['City'])
print(tukey)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
  group1    group2  meandiff p-adj   lower   upper  reject
----------------------------------------------------------
Amsterdam    Athens   0.4892 0.3094 -0.1552  1.1336  False
Amsterdam Barcelona  -3.4054    0.0 -4.1241 -2.6866   True
Amsterdam    Berlin  -0.1908 0.9969 -0.9306  0.5491  False
Amsterdam  Budapest   0.0709    1.0 -0.6014  0.7431  False
Amsterdam    Lisbon  -3.4205    0.0 -4.0573 -2.7838   True
Amsterdam     Paris  -2.4769    0.0 -3.1018  -1.852   True
Amsterdam      Rome  -1.3921    0.0 -1.9976 -0.7867   True
Amsterdam    Vienna  -0.7833 0.0123 -1.4711 -0.0955   True
   Athens Barcelona  -3.8945    0.0 -4.4742 -3.3148   True
   Athens    Berlin  -0.6799 0.0147 -1.2856 -0.0743   True
   Athens  Budapest  -0.4183 0.2363 -0.9393  0.1027  False
   Athens    Lisbon  -3.9097    0.0 -4.3839 -3.4355   True
   Athens     Paris  -2.9661    0.0 -3.4243 -2.5078   True
   Athens      Rome  -1.8813    0.0 -2.3126   -1.45   True
   Athens    Vienna  -1.2725    0.0 -1.8133 -0.7316   True
Barcelona    Berlin   3.2146    0.0  2.5304  3.8988   True
Barcelona  Budapest   3.4762    0.0  2.8656  4.0868   True
Barcelona    Lisbon  -0.0152    1.0 -0.5864   0.556  False
Barcelona     Paris   0.9285    0.0  0.3705  1.4865   True
Barcelona      Rome   2.0132    0.0  1.4772  2.5493   True
Barcelona    Vienna   2.6221    0.0  1.9944  3.2497   True
   Berlin  Budapest   0.2616  0.938 -0.3736  0.8968  False
   Berlin    Lisbon  -3.2298    0.0 -3.8273 -2.6323   True
   Berlin     Paris  -2.2861    0.0  -2.871 -1.7012   True
   Berlin      Rome  -1.2014    0.0 -1.7654 -0.6374   True
   Berlin    Vienna  -0.5925 0.1093 -1.2442  0.0591  False
 Budapest    Lisbon  -3.4914    0.0 -4.0029   -2.98   True
 Budapest     Paris  -2.5478    0.0 -3.0445  -2.051   True
 Budapest      Rome   -1.463    0.0 -1.9349 -0.9911   True
 Budapest    Vienna  -0.8542 0.0001  -1.428 -0.2803   True
   Lisbon     Paris   0.9437    0.0  0.4963  1.3911   True
   Lisbon      Rome   2.0284    0.0  1.6087  2.4481   True
   Lisbon    Vienna   2.6373    0.0  2.1056   3.169   True
    Paris      Rome   1.0848    0.0  0.6832  1.4864   True
    Paris    Vienna   1.6936    0.0  1.1761  2.2111   True
     Rome    Vienna   0.6088 0.0042   0.115  1.1026   True
----------------------------------------------------------

In [19]:
df8 = df1[df1['City'] == 'Barcelona']
df9 = df1[df1['City'] == 'Budapest']
df8.head()

,City,Price,Day,Room_Type,Shared_Room,Private_Room,Person_Capacity,Superhost,Multiple_Rooms,Business,Cleanliness_Rating,Guest_Satisfaction,Bedrooms,City_Center,Metro_Distance,Attraction_Index,Normalised_Attraction,Restraunt_Index,Normalised_Restraunt_Index
7360,Barcelona,474.317499,Weekday,Entire home/apt,False,0,4,False,0,1,10,91,1,1,0,526,17,915,20
7361,Barcelona,169.897829,Weekday,Private room,False,1,2,True,1,0,10,88,1,1,0,320,10,794,17
7362,Barcelona,161.984779,Weekday,Private room,False,1,4,False,0,1,9,88,1,1,0,344,11,840,18
7363,Barcelona,367.956804,Weekday,Entire home/apt,False,0,3,False,0,1,10,91,1,1,0,400,13,946,20
7364,Barcelona,196.895292,Weekday,Private room,False,1,3,False,1,0,9,91,1,1,0,346,11,792,17

In [20]:
from scipy import stats
stats.ttest_ind(df8["Guest_Satisfaction"],df9["Guest_Satisfaction"],equal_var=False,alternative="greater")

TtestResult(statistic=-18.136293298491488, pvalue=1.0, df=5010.991536558746)

In [21]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["City_Center"], df1['Room_Type'])
print(tukey)

       Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================================
     group1        group2    meandiff p-adj   lower  upper  reject
------------------------------------------------------------------
Entire home/apt Private room   0.5863    0.0  0.5368 0.6357   True
Entire home/apt  Shared room   0.6547    0.0    0.39 0.9195   True
   Private room  Shared room   0.0685 0.8188 -0.1979 0.3349  False
------------------------------------------------------------------

In [22]:
df10=df1[df1['Room_Type']=='Entire home/apt']
df11=df1[df1['Room_Type']=='Shared room']
df10.head()

,City,Price,Day,Room_Type,Shared_Room,Private_Room,Person_Capacity,Superhost,Multiple_Rooms,Business,Cleanliness_Rating,Guest_Satisfaction,Bedrooms,City_Center,Metro_Distance,Attraction_Index,Normalised_Attraction,Restraunt_Index,Normalised_Restraunt_Index
7,Amsterdam,2771.307384,Weekday,Entire home/apt,False,0,4,True,0,0,10,100,3,1,1,208,11,272,18
8,Amsterdam,1001.804420,Weekday,Entire home/apt,False,0,4,False,0,0,9,96,2,3,1,106,5,133,9
10,Amsterdam,909.474375,Weekday,Entire home/apt,False,0,2,False,0,0,10,96,1,1,0,409,21,555,38
12,Amsterdam,675.602840,Weekday,Entire home/apt,False,0,4,False,0,0,8,87,1,2,0,214,11,269,18
13,Amsterdam,552.808567,Weekday,Entire home/apt,False,0,2,True,0,0,10,100,1,1,1,325,17,390,27

In [23]:
from scipy import stats
stats.ttest_ind(df10["City_Center"],df11["City_Center"],equal_var=False,alternative="greater")

TtestResult(statistic=-5.257400061731352, pvalue=0.9999998661415979, df=319.88775709604306)

In [24]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Metro_Distance"], df1['Room_Type'])
print(tukey)

       Multiple Comparison of Means - Tukey HSD, FWER=0.05
==================================================================
     group1        group2    meandiff p-adj   lower  upper  reject
------------------------------------------------------------------
Entire home/apt Private room   0.0417    0.0  0.0254  0.058   True
Entire home/apt  Shared room  -0.0394 0.5396 -0.1265 0.0478  False
   Private room  Shared room  -0.0811  0.077 -0.1688 0.0066  False
------------------------------------------------------------------

In [25]:
df12=df1[df1['Room_Type']=='Entire home/apt']
df13=df1[df1['Room_Type']=='Private room']

In [26]:
from scipy import stats
stats.ttest_ind(df12["Metro_Distance"],df13["Metro_Distance"],equal_var=False,alternative="greater")

TtestResult(statistic=-5.710054780417246, pvalue=0.9999999942825913, df=22723.00931770228)

In [27]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Attraction_Index"], df1['Person_Capacity'])
print(tukey)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     2      3 -11.3117 0.0181 -21.3567 -1.2668   True
     2      4  -2.4388 0.9033  -9.9743  5.0968  False
     2      5   3.0612  0.973 -10.5546 16.6771  False
     2      6  16.6004 0.0011   4.8589 28.3419   True
     3      4    8.873 0.1493  -1.7139 19.4599  False
     3      5   14.373 0.0847  -1.1411 29.8871  False
     3      6  27.9122    0.0   14.014 41.8104   True
     4      5      5.5 0.8219  -8.5204 19.5204  False
     4      6  19.0392 0.0002   6.8308 31.2476   True
     5      6  13.5392 0.1735  -3.1236  30.202  False
-----------------------------------------------------

In [28]:
df14=df1[df1['Person_Capacity']==3]
df15=df1[df1['Person_Capacity']==6]
df12.head()

,City,Price,Day,Room_Type,Shared_Room,Private_Room,Person_Capacity,Superhost,Multiple_Rooms,Business,Cleanliness_Rating,Guest_Satisfaction,Bedrooms,City_Center,Metro_Distance,Attraction_Index,Normalised_Attraction,Restraunt_Index,Normalised_Restraunt_Index
7,Amsterdam,2771.307384,Weekday,Entire home/apt,False,0,4,True,0,0,10,100,3,1,1,208,11,272,18
8,Amsterdam,1001.804420,Weekday,Entire home/apt,False,0,4,False,0,0,9,96,2,3,1,106,5,133,9
10,Amsterdam,909.474375,Weekday,Entire home/apt,False,0,2,False,0,0,10,96,1,1,0,409,21,555,38
12,Amsterdam,675.602840,Weekday,Entire home/apt,False,0,4,False,0,0,8,87,1,2,0,214,11,269,18
13,Amsterdam,552.808567,Weekday,Entire home/apt,False,0,2,True,0,0,10,100,1,1,1,325,17,390,27

In [29]:
from scipy import stats
stats.ttest_ind(df14["Attraction_Index"],df15["Attraction_Index"],equal_var=False,alternative="greater")

TtestResult(statistic=-5.121263913759569, pvalue=0.9999998441821394, df=6967.394357153462)

In [30]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Restraunt_Index"], df1['Room_Type'])
print(tukey)

          Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================================
     group1        group2     meandiff p-adj    lower     upper   reject
------------------------------------------------------------------------
Entire home/apt Private room    5.2191 0.6087   -7.6605   18.0987  False
Entire home/apt  Shared room -197.2904    0.0 -266.2826 -128.2983   True
   Private room  Shared room -202.5095    0.0 -271.9397 -133.0794   True
------------------------------------------------------------------------

In [31]:
df16=df1[df1['Room_Type']=='Entire home/apt']
df17=df1[df1['Room_Type']=='Shared room']

In [32]:
from scipy import stats
stats.ttest_ind(df16["Restraunt_Index"],df17["Restraunt_Index"],equal_var=False,alternative="greater")

TtestResult(statistic=10.476650624926995, pvalue=1.072062134502558e-22, df=333.9852115800485)

In [33]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Normalised_Attraction"], df1['Person_Capacity'])
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     2      3  -1.4559    0.0 -1.8122 -1.0995   True
     2      4  -0.9567    0.0  -1.224 -0.6893   True
     2      5   -2.015    0.0 -2.4981  -1.532   True
     2      6  -0.7855    0.0 -1.2021  -0.369   True
     3      4   0.4992 0.0027  0.1236  0.8748   True
     3      5  -0.5592 0.0443 -1.1096 -0.0088   True
     3      6   0.6703 0.0019  0.1773  1.1634   True
     4      5  -1.0584    0.0 -1.5558  -0.561   True
     4      6   0.1711  0.818  -0.262  0.6043  False
     5      6   1.2295    0.0  0.6384  1.8207   True
----------------------------------------------------

In [34]:
df18=df1[df1['Person_Capacity']==3]
df19=df1[df1['Person_Capacity']==6]

In [35]:
from scipy import stats
stats.ttest_ind(df18["Normalised_Attraction"],df19["Normalised_Attraction"],equal_var=False,alternative="greater")

TtestResult(statistic=-3.6685919664814697, pvalue=0.9998771647178014, df=7120.28086504692)

In [36]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Correct parameter order
tukey = pairwise_tukeyhsd(df1["Normalised_Restraunt_Index"], df1['Room_Type'])
print(tukey)

        Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================================
     group1        group2    meandiff p-adj   lower   upper  reject
-------------------------------------------------------------------
Entire home/apt Private room  -2.9454    0.0 -3.4018 -2.4889   True
Entire home/apt  Shared room  -0.1602 0.9871 -2.6051  2.2847  False
   Private room  Shared room   2.7852 0.0218  0.3247  5.2456   True
-------------------------------------------------------------------

In [37]:
df20=df1[df1['Room_Type']=='Private room']
df21=df1[df1['Room_Type']=='Shared room']

In [38]:
from scipy import stats
stats.ttest_ind(df18["Normalised_Restraunt_Index"],df19["Normalised_Restraunt_Index"],equal_var=False,alternative="greater")

TtestResult(statistic=-4.446159118541693, pvalue=0.9999955646182036, df=7327.99525751078)